.form {
  display: inline;
  flex-direction: column;
}

.input {
  padding: 0 0 1em 0;
  border: 0em;
}

/* .input:hover {
  background-color: black;
} */

.form_buttons {
  align-items: flex-end;
  justify-content: right;
}

.table {
  padding: 2em 0 0 0;
}
